<!DOCTYPE html>
<html>
    <title>My Homepage</title>
<h1>
Welcome to Hompage</h1>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/cyborg/bootstrap.min.css" integrity="sha384-nEnU7Ae+3lD52AK+RGNzgieBWMnEfgTbRHIwEvp1XXPdqdO6uLTd/NwXbzboqjc2" crossorigin="anonymous">
<script src="/static/script.js"></script>
<body>
    <a class="btn btn-primary" data-bs-toggle="offcanvas" href="http://home.pi/admin" role="button" aria-controls="offcanvasExample">
    Go to pihole admin console
  </a>
  <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
    Start PC
  </button>
  </div>
</body>
</html>